#cover-div{
    background-image: url("assets/bg-support.jpg");
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: 100% 100%;
}

.image-zoom{
    transition: all 0.5s cubic-bezier(.5,.15,0,1);
    object-fit: cover;
}

.image-zoom:hover{
    overflow: hidden;
    transform: scale(1.2);
}

.devices:hover{
    color: red;
}

.services{
    transition: all 0.2s ease-in-out;
}

.services:hover{
    transform: translateY(-15px);
}

.link-custom{
    text-decoration: none;
}

.link-custom:hover{
    text-decoration: underline;
}

.footer-link{
    text-decoration: none !important;
    font-weight: 500 !important;
    font-size: 1.05rem !important;
    transition: all 0.15s ease-in;
}

.footer-link:hover{
    color: #000 !important;
}