h1{
    font-weight: 400 !important;
    font-size: 2.6rem !important;
}

.btn-custom{
    border-radius: 2px;
    width: 200px;
    margin: 10px 5px;
}

.image-zoom{
    transition: all 0.4s cubic-bezier(.5,.15,0,1);
    object-fit: cover;
}

.image-zoom:hover{
    overflow: hidden;
    transform: scale(1.2);
}

.link-hover{
    transition: all 0.2s ease-in;
}

.link-hover:hover{
    color: #007bff !important;
}